@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  font-family: "Inter";
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  display: none;
}

.scroll-indicator {
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  height: 8px;
  background: rgba(11, 85, 150, 0.2);
  overflow: hidden;
  z-index: 2;
}
.scroll-indicator span {
  display: block;
  height: 100%;
  width: 0;
  background: rgb(11, 85, 150);
  transition: width 0.2s ease;
  z-index: 2;
}

#page-buttons {
  position: fixed;
  bottom: 40px;
  right: 40px;
}
#home-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: #f5f5f5;
  cursor: pointer;
  z-index: 9999;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
#home-button:hover {
  background-color: #e0e0e0;
}
#home-button img {
  width: 20px;
}
#top-button {
  position: fixed;
  bottom: 100px;
  right: 40px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: #f5f5f5;
  cursor: pointer;
  z-index: 9999;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
#top-button:hover {
  background-color: #e0e0e0;
}
#top-button img {
  width: 20px;
}

.section-sidebar-above {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding-top: 55px;
  margin-bottom: 55px;
}
.sidebar-above {
  display: inline-block;
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 22px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}
.sidebar-above:hover {
  transform: translateY(-3px);
  color: rgb(11, 85, 150);
  border-bottom: 2px solid rgb(255, 205, 5);
}

.section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-weight: bold;
}
.section hr {
  margin-top: 38px;
  margin-bottom: 38px;
  border: none;
  border-radius: 5px;
  height: 1.5px;
  background-color: rgba(0, 45, 105, 0.6);
  width: 90%;
  max-width: 1136px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.empty-div {
  width: 100%;
  height: 38px;
}
.sub-empty-div {
  width: 100%;
  height: 15px;
}

#input-search {
  text-align: center;
  margin-bottom: 38px;
}
#input-search input {
  margin: 0 6px;
  padding: 10px 20px;
  font-size: 16px;
  border: 1.5px solid black;
  border-radius: 40px;
  max-width: 780px;
  width: 65%;
  height: 60px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
#input-search button {
  border: none;
  background-color: rgb(0, 0, 0);
  color: white;
  margin: 0 6px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 40px;
  width: 100px;
  height: 60.75px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
#input-search button:hover {
  background-color: rgba(0, 0, 0, 0.85);
}
#input-search button:active {
  background-color: rgba(0, 0, 0, 0.8);
}

#welcome-img-container {
  width: 90%;
  max-width: 1136px;
  height: 320px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}
#welcome-page img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: default;
}
#welcome-img-container::before {
  content: "";
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  z-index: 1;
  pointer-events: none;
}
#welcome-page-hello {
  position: absolute;
  bottom: 2%;
  left: 5%;
  font-size: 40px;
  color: white;
  z-index: 2;
}

.banner-container {
  width: 90%;
  max-width: 1136px;
  height: 300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.banner-element {
  padding: 30px 30px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}
#banner-element-weather {
  color: #333;
  background: linear-gradient(
    135deg,
    rgba(33, 115, 190, 0.3),
    rgba(255, 205, 5, 0.3)
  );
}
.daily-weather-info {
  height: 100%;
  font-weight: normal;
  font-size: 18px;
}
#city-name {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}
#icon-current-temp {
  margin: 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#current-temp {
  margin: 0;
  font-size: 40px;
  font-weight: bold;
}
#current-humidity {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}
.daily-weather-info img {
  width: 130px !important;
  height: 130px !important;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
}
#description-temp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}
#temp-divider {
  margin: 0;
  width: 1px;
  height: 25px;
  background-color: #666;
}

#banner-element-currency {
  background: linear-gradient(265deg,  #FCF7F0, #F5EADB);
}
#currency-title {
  display: flex;
  justify-content: center;
  font-size: 24px;
}
#rate {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  color: #b54545;
  margin-top: 8px;
  margin-bottom: 28px;
}
.currency-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.currency-box select,
input {
  width: 45%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.currency-box span {
  width: 39%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
}
#exchange-rate-budget {
  font-style: italic;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  margin-top: 30px;
}

.title {
  font-size: 30px;
  margin: 0 auto;
  width: 90%;
  max-width: 1136px;
  height: fit-content;
}
.sub-title {
  margin-top: 8px;
  font-size: 18px;
  font-weight: normal;
}

.banner {
  display: none;
  width: 90%;
  max-width: 1136px;
  height: 180px;
  margin: 0 auto;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.banner::before {
  content: "";
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.6) 100%
  );
  z-index: 1;
  pointer-events: none;
}
.banner p {
  text-align: right;
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: 18px;
  color: white;
  z-index: 2;
}

.destinations-banners-container {
  display: flex;
  justify-content: center;
  margin: 0 40px;
}
.destinations-banners {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  width: auto;
  height: 500px;
  gap: 20px;
}
.destinations-banner {
  flex: 0 0 auto;
  width: 366px;
  border-radius: 15px;
}
.destinations-banner img {
  width: 100%;
  height: 462px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.img-container {
  width: 90%;
  max-width: 1136px;
  height: 450px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: default;
}
.img-container::before {
  content: "";
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  pointer-events: none;
}
.text-overlay {
  position: absolute;
  left: 5%;
  bottom: 5%;
  color: white;
  z-index: 2;
}
.text-overlay button {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 48px;
  border: none;
  border-radius: 30px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 2;
}
.text-overlay button:hover {
  background-color: rgb(11, 85, 150, 0.8);
  color: rgb(255, 205, 5);
  transform: scale(1.05);
}
.text-overlay button:active {
  background-color: rgb(0, 45, 105, 0.8);
  color: rgb(200, 160, 0);
  transform: scale(1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
#llc {
  bottom: 0;
  width: 100%;
  height: 232px;
  background-color: rgba(11, 85, 150, 0.08);
}
